.cursor-dot{
    width: 8px;
    height: 8px;
    background-color: white;
    color: rgb(221, 223, 225);
}

.cursor-outline{
    width: 30px;
    height: 30px;
    border: 3px solid hsla(189, 20%, 93%, 0.998);
    z-index: 999;
}

.cursor-dot,
.cursor-outline{
    position: fixed;
    top: 0;
    left: 0;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    z-index: 999;
    pointer-events: none;
}